.common {
    background-color:  rgb(186, 138, 125) ;
    position:relative;
}

.title {
    font-family:cursive; 
    font-style:normal;
    font-size: 150px;
    text-align: center;
    color: whitesmoke; 

}

.titlebox {
    border-width: 7px;
    border-style:dotted;
    border-color: whitesmoke;
    background-color: rgb(91, 80, 97);
    padding: 5px;
    padding-top: 10px;
    margin: 25px;
}

.bodyborder {
    top: 20px;
    width: auto;
    bottom: 600px;
    z-index: 2;
    background-color: whitesmoke;
    border-color: rgb(186, 138, 125);
    font-family: cursive;
    font-style:italic;
    font-size: 50px;
    color:  rgb(91, 80, 97);
    text-align:center;

}

.videoborder {
    position: absolute;
    top: auto;
    left: 5px;
    width: 550px;
    height: auto;
    z-index: 2;
    background-color: whitesmoke;
    border-color: rgb(91, 80, 97);;
    font-family: cursive;
    font-style:italic;
    font-size: 50px;
    color:   rgb(186, 138, 125) ;
    text-align:center;
}

.tableauborder {
    position: absolute;
    top: auto;
    right: 5px;
    width: 550px;
    height: auto;
    z-index: 2;
    background-color: whitesmoke;
    border-color: rgb(91, 80, 97);;
    font-family: cursive;
    font-style:italic;
    font-size: 50px;
    color:   rgb(186, 138, 125) ;
    text-align:center;
}

.mainbodytext {
    padding-right:5px;
    font-family: cursive;
    font-style:italic;
    font-size: 20px;
    float: left;
    color:  rgb(91, 80, 97);

}


.subheader {
    top: 114px;
    right: 5px;
    width: 100px;
    bottom: 39px;
}

